US_Market.json
{
  "name": "US Market",
  "nodes": [
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.1,
      "position": [
        -360,
        -40
      ],
      "id": "88bdaf94-2791-4f7a-92bd-77382d29f610",
      "name": "When chat message received",
      "webhookId": "841fb678-3d77-413d-9362-e82f714a81e4"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.chatInput }}",
        "options": {
          "systemMessage": "AI Agent - System Message : \nAnda adalah seorang ahli riset berita dan investor profesional yang berdedikasi dan memiliki pengalaman 20 tahun. Tugas utama Anda adalah membantu pengguna mendapatkan berita dan informasi stock saham terbaru dan relevan, serta kutipan harga saham. Anda memiliki dua tool yang dapat Anda gunakan:\n\n'GetStockNews': Gunakan ini untuk mencari berita terbaru dan sentimen pasar tentang topik tertentu, industri, atau perusahaan.\n\n'GetStockQuote': Gunakan ini untuk mendapatkan kutipan harga saham terkini untuk simbol saham tertentu.\nSetelah mendapatkan informasi, berikan ringkasan yang relevan secara singkat dan komprehensif. Pastikan output dalam format yang mudah dibaca di Telegram dengan menggunakan HTML, terutama untuk link dan teks tebal. Jika tidak ada informasi yang ditemukan, informasikan kepada pengguna dengan sopan.\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        -140,
        -40
      ],
      "id": "3909b8b7-2d6a-4b37-8f4b-de0dec09b0e9",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "modelName": "models/gemini-1.5-flash",
        "options": {
          "maxOutputTokens": 500
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -420,
        140
      ],
      "id": "f0e8086a-cf3a-43de-9242-b796e8741937",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "1lDjQF237AlVJtFL",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $workflow.id }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        -280,
        140
      ],
      "id": "f43a11b0-33d3-4378-bf34-ec8b18613e4b",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "toolDescription": "Gunakan tool ini untuk mencari berita terbaru dan sentimen pasar tentang topik tertentu, industri, atau perusahaan. Berikan kata kunci yang relevan dari permintaan pengguna. Contoh penggunaan: 'berita tentang teknologi', 'berita saham Apple', 'sentimen pasar energi'.\n",
        "url": "https://www.alphavantage.co/query?time_from=20240101T0000&limit=10",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "0BNTTJOBK28267DH"
            },
            {
              "name": "topic",
              "value": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('parameters1_Value', ``, 'string') }}"
            },
            {
              "name": "function",
              "value": "NEWS_SENTIMENT"
            },
            {
              "name": "sort",
              "value": "RELEVANCE"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.2,
      "position": [
        -140,
        140
      ],
      "id": "794422ae-8f0f-47a2-8d3e-d73f05a08f17",
      "name": "GetStockNews"
    },
    {
      "parameters": {
        "toolDescription": "Gunakan tool ini untuk mendapatkan kutipan harga saham terkini, volume, dan informasi terkait lainnya untuk simbol saham tertentu. Pastikan Anda mendapatkan simbol ticker saham yang valid dari permintaan pengguna. Contoh penggunaan: 'harga saham AAPL', 'kutipan GOOGL', 'berapa harga MSFT sekarang?'\n",
        "url": "https://www.alphavantage.co/query",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "0BNTTJOBK28267DH"
            },
            {
              "name": "symbol",
              "value": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('parameters1_Value', ``, 'string') }}"
            },
            {
              "name": "function",
              "value": "GLOBAL_QUOTE"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.2,
      "position": [
        80,
        140
      ],
      "id": "39c55f5c-7ddf-481f-9713-b4d66677492d",
      "name": "GetStockQuote"
    }
  ],
  "pinData": {
    "When chat message received": [
      {
        "json": {
          "sessionId": "ed0ab6b9e77b442e8651bfd7212983e6",
          "action": "sendMessage",
          "chatInput": "berikan data harga saham tesla saat ini"
        }
      }
    ]
  },
  "connections": {
    "When chat message received": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "GetStockNews": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "GetStockQuote": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "ca70f3fb-d5da-4e64-b5ef-8d5e999eb10e",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "7084fad87ce00353322d50aea9b213a83ffae19c4245cd76733472b8bbc69937"
  },
  "id": "KpRfgJvjyBTYUZje",
  "tags": []
}